{% extends 'base.html.twig' %}

{% block content %}
    <div class="container mt-5 mb-5">

        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                {% include 'information.html.twig' %}
            </div>
            <div class="col-md-8 order-md-1">
                {% if (payment == true) and (reservation.methodPayment == constant('App\\Model\\Reservation::PAYMENT_CARD')) %}

                    <h4 class="mb-3">MERCI D'AVOIR EFFECTUÉ VOTRE RESERVATION
                        SUR {{ param('society')|upper }}!</h4>
                    <div class="alert alert-success">
                        <h3 class="text-success">Le paiement a été accepté.</h3>
                        <p>Nous vous informons que le paiement de votre reservation n°{{ reservation.reference }} a été
                            validée.<br/>
                            Vous recevrez un mail avec le récapitulatif de votre reservation. Si vous n'avez rien
                            reçu,<br/> <b>vérifiez votre dossier de courrier indésirable (spam).</b></p>
                    </div>

                {% elseif (payment == true) and (reservation.methodPayment == constant('App\\Model\\Reservation::PAYMENT_CASH')) %}

                    <h4 class="mb-3">MERCI D'AVOIR EFFECTUÉ VOTRE RESERVATION
                        SUR {{ param('society')|upper }}!</h4>
                    <div class="alert alert-success">
                        <h3 class="text-success">Réservation confirmée.</h3>
                        <p>Nous vous informons que votre reservation n°{{ booking.REF }} a été validée.<br/>
                            <b>Le paiement de la course s'effectuera directement auprès du chauffeur.</b><br/>
                            Vous recevrez un mail avec le récapitulatif de votre reservation. Si vous n'avez rien
                            reçu,<br/> <b>vérifiez votre dossier de courrier indésirable (spam).</b></p>
                    </div>

                {% elseif payment == false %}

                    <div class="alert alert-danger">
                        <h3 class="text-danger">Paiement refusé!</h3>
                        <p>Votre paiement n’a pu aboutir car la transaction a été refusée.<br/>
                            Merci de vérifier et de réessayer.</p>
                    </div>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
